/* import font from fonts.css file */
@import url(./fonts.css);

/*CSS Variables*/
@import url(../css/partials/variable.css);

/*global Styling*/
@import url(../css/partials/global.css);

/* start navigation*/

    .header_area .main-menu .navbar .navbar-brand{
        padding: 0 45rem 0 5rem;
       /* margin: 0; */
    }

    .header_area .main-menu .navbar{
        padding: 1 rem 20rem;
    }

    .header_area .main-menu .nav-item .nav-link{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        padding: 1.7rem;
        color: black ;
    }

    .header_area .main-menu .navbar-nav .active a{
        /*background: #4458ef;*/
        -webkit-background-clip: text;
        -webkit-text-fill-color: #4458ef;
        background-clip: text;
    }

    .header_area .main-menu .navbar-nav a:hover{
       /* background: #4458ef;*/
        -webkit-background-clip: text;
        -webkit-text-fill-color:#4458ef;
        background-clip: text;
    }

/* end navigation*/

/*-------------Banner Area------------*/

    .site-main .site-banner{
        background-color: aliceblue;
    }

    .site-main .site-banner .site-title h3{
       padding-top: 35%;
       font-weight: 500; 
    }

    .site-main .site-banner .site-vital h3{
        padding-top: 5%;
        font-weight: 500; 
     }

    .site-main .site-banner .site-title h3::after{
        content: "";
        height: 2px;
        width: 18vw;
        background: black;
        margin-left: 5%;
        transform: translateY(-10px);

    }

    .site-main .site-banner .site-title h1{
        font-size: 3rem;
    }

    .site-main .site-banner .site-title h4{
        
        font-size: 1.2rem;
        margin-left: 55%;
    }

    .site-main .site-banner .banner-image > img{
        padding: 7rem 0;
        width: 90rem;
    }

    .parag{
        text: bold;
        text-align: center;
    }

/*-------------Banner Area------------*/

/*--------------Start About Area--------------*/

.site-main .about-area{
    padding: 0rem 5rem;
    align-items: center;
    padding-left: 5%;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bolder 49px/60px;
    font-color: #4458ef ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 10px;
}

.site-main.about-area.about-title.paragraph > p{
    padding: 0.8rem 0;
}

/*---------------End About Area--------------*/

/*---------------Start Contact Area-----------------*/

.fa{  
    padding: 20px;  
   text-align: center;  
    margin: 55px 2px;  
    font-size: 30px;  
    width: 50px;  
    
  }  
  
  .fa-twitter {  
    background: #55ACEE;  
    color: white;  
  }  
  
  .fa-linkedin {  
    background: #007bb5;  
    color: white;  
  }  
  .fa-instagram {  
    background: #125688;  
    color: white;  
  }  

/*----------------End Contact Area------------------*/
